body {
    background-color: #292C2C;
    color: #A8ADB0;
}

.pageTitle {
    color: #FFFFFF;
}

#personalImage {
    max-width: 100%;
    height: 300px;
}

.headerDivider {
    border-color: #FFFFFF;
}

.table {
    color: #A8ADB0;
}

.highlight {
    font-style: italic;
    color: #53CFDF;
}

#jsIcon {
    color: #F7DF1D;
}

#htmlIcon {
    color: #F16528;
}

#cssIcon {
    color: #2D68F4;
}

#vhdlIcon {
    color: #07A582;
}

#pythonIcon {
    color: #3672A4;
}

#cIcon {
    color: #2A3495;
}

#cplusplusIcon {
    color: #5DBCD2;
}

#javaIcon {
    color: #E51837;
}

#angularIcon {
    color: #DE0031;
}